<template>
  <div>
    <p>{{msg | uppercase}}</p>
  </div>
</template>

<script>

export default {
  data() {
    return {
      msg: 'Filtros globales'
    }
  }
}
</script>

<style>

</style>

      