<template>
  <div>
    <!--TRIM elimina los espacios en blanco al inicio y al final, para mostrar la longitud real-->
    <p>Longitud del nombre: {{longitudDelNombre}}</p>
    <input type="text" v-model.trim="nombre">
        <!--NUMBER parsea a un numero el valor escrito-->
    <p>Tipo del precio: {{tipoDelPrecio}}</p>
    <input type="number" v-model.number="precio">
    <!--LAZY en vez de input hace un change-->
    <p>Texto lazy: {{texto}}</p>
    <input type="text" v-model.lazy="texto">
  </div>
</template>

<script>
export default {
  data() {
    return {
      nombre: '',
      precio: 12,
      texto: ''
    }
  },
  computed: {
    longitudDelNombre() {
      return this.nombre.length;
    },
    tipoDelPrecio() {
      return typeof(this.precio);
    },
  }
}
</script>

<style>

</style>