<template>
  <div>
      <Card>
          <h2 slot="header">Etiqueta {{numero}}</h2>
          <img slot="body" src="../assets/logo.png" alt="Logo de Vue">
      </Card>
  </div>
</template>

<script>

import Card from './Card.vue';
export default {
    props: {
        numero:{
            type:Number,
            default:0
        }
    },
    components: {
        Card
    }
}
</script>

<style>

</style>