<template>
  <div :style="{width: '100px', border: '1px solid red'}">
    <img :src="comida.img" :alt="imgComida" :style="{width: '75%'}">
    <h4 :style="{textAlign: 'left', color: 'red'}">{{comida.tipo}}</h4>
  </div>
</template>

<script>
export default {
  props: {
    comida: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>

</style>