<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <br />
    <h1>Práctica VueJS</h1>
    <h3>Slots y Cards</h3>
    <!-- Componente num UNO -->
    <!-- Components Slots -->
    <div class="centrado">
      <label  v-for="num in 3" :key="num" >
        <CmpSlots :numero=num />
        <br/>
      </label>
    </div>
    <hr />
    <br />
    <h3>Modificadores de inputs</h3>
    <!-- Componente num DOS -->
    <!-- Modificadores de inputs lab -->
    <div class="centrado">
      <cmpModificadores> </cmpModificadores>
    </div>
    <hr />
    <br />
    <h3>Filtros globales</h3>
    <!-- Componente numero tres -->
    <!-- Componentes filtros globales -->
    <div class="centrado">
      <cmpFiltrosGlobales></cmpFiltrosGlobales>
    </div>
    <hr />
    <br />
    <h3>Listas</h3>
    <!-- Cuarto Componente -->
    <!-- Compnentes Listas -->
    <div class="centrado">
      <Comida v-for="comida in comidas" :key="comida.id" :comida="comida"></Comida>
    </div>
    <hr />
    <br />
    <h3>Componentes Locales</h3>
    <!-- Quinto Componente -->
    <!-- Nombre componente -->
    <!-- <EtiquetaComp></EtiquetaComp> -->
  </div>
</template>

<script>
import CmpSlots from "./components/CmpSlots";
import cmpFiltrosGlobales from "./components/cmpFiltrosGlobales.vue";
import cmpModificadores from "./components/cmpModificadores.vue";
import Comida from "./components/listas";
export default {
  name: "App",
  components: {
    CmpSlots,
    cmpFiltrosGlobales,
    cmpModificadores,
    Comida,
  },
  data() {
    return {
      comidas: [
        {
          id: 25,
          tipo: "Chuletón",
          img:
            "https://www.eladerezo.com/wp-content/uploads/2020/06/chuleton-de-vaca-madurada-3-600x450.jpg",
        },
        {
          id: 52,
          tipo: "Pizza",
          img:
            "https://www.hola.com/imagenes/cocina/recetas/20190911149183/pizza-margarita/0-717-935/pizza-m.jpg",
        },
        {
          id: 79,
          tipo: "Jamon Serrano",
          img:
            "https://static2.abc.es/media/economia/2019/10/07/jamon-kDtF--1200x630@abc.jpg",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin-bottom: 30px;
}

.centrado {
  padding: 0px auto;
  margin: 0px auto;
}
</style>
